.formWrapper{
    padding: 1em;
}
.form, 
.form-input-fieldset{
    display: grid;
}
.form-input, 
.form-input-fieldset, 
.form-input-checkbox,
.form-input-select,
.form-input-button {
    border-radius: 5px;
    border: 1px solid darkgray;
    padding: 10px;
    margin: 5px 0;
}
.form-input:focus{
    outline: none;
    border: 1px solid black;
}
.form-input:user-invalid,
.form-input-select:user-invalid{
    border: 1px solid red;
}
.form-input:user-valid,
.form-input-select:user-valid{
    border: 1px solid green;
}